aiofiles==0.3.1
apns2==0.3.0
asn1crypto==0.22.0
cffi==1.10.0
cryptography==2.0.3
h2==2.6.2
hpack==3.0.0
httptools==0.0.9
hyper==0.7.0
hyperframe==3.2.0
idna==2.5
mongo==0.2.0
pycparser==2.18
PyJWT==1.5.2
pymongo==3.4.0
pyOpenSSL==17.2.0
sanic==0.6.0
six==1.10.0
ujson==1.35
uvloop==0.8.0
websockets==3.3
